trunk/Server/NotificationComponent/resources/NotificationComponent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="StorageComponent" targetNamespace="http://aladdin-project.eu/NotificationComponent/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://aladdin-project.eu/NotificationComponent/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aladdin="http://aladdin-project.eu/xsd">
  <wsdl:types>
    <xsd:schema targetNamespace="http://aladdin-project.eu/NotificationComponent/">
      <xsd:import namespace="http://aladdin-project.eu/xsd" schemaLocation="schemata.xsd"/>
      <xsd:element name="sendEvent">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="event" type="aladdin:Event"/>
      			<xsd:element name="login" type="xsd:string"/>
      			<xsd:element name="password" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="sendEventResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="aladdin:OperationResult"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendEventResponse">
    <wsdl:part name="parameters" element="tns:sendEventResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendEventRequest">
    <wsdl:part name="parameters" element="tns:sendEvent">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NotificationComponent">
    <wsdl:operation name="sendEvent">
      <wsdl:input message="tns:sendEventRequest">
    </wsdl:input>
      <wsdl:output message="tns:sendEventResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationComponentSOAP" type="tns:NotificationComponent">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendEvent">
      <soap:operation soapAction="http://aladdin-project.eu/NotificationComponent/sendEvent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationComponent">
    <wsdl:port name="NotificationComponentSOAP" binding="tns:NotificationComponentSOAP">
      <soap:address location="http://193.174.152.114:28080/axis2/services/NotificationComponent"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
