trunk/Server/XSD/db.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://aladdin.com/sc/db" elementFormDefault="qualified" xmlns:tns="http://aladdin.com/sc/db">
    <complexType name="SystemParameter">
    	<sequence>
    		<element name="Code" type="string"></element>
    		<element name="Description" type="string"></element>
    	</sequence>
    </complexType>
    <complexType name="Users">
    	<sequence>
    		<element name="username" type="string"></element>
    		<element name="password" type="string"></element>
    		<element name="type" type="int"></element>
    		<element name="personId" type="string"></element>
    	</sequence>
    </complexType>
    
	<complexType name="Warning">
		<sequence>
			<element name="TypeOfWarning" type="int"></element>
			<element name="DateTimeOfWarning" type="tns:dateTime"></element>
			<element name="Effect" type="int"></element>
			<element name="Indicator" type="int"></element>
			<element name="RiskLevel" type="int"></element>
			<element name="JustificationText" type="string"></element>
			<element name="EmergencyLevel" type="int"></element>
			<element name="PatientID" type="string"></element>
			<element name="Delivered" type="boolean"></element>
		</sequence>
	</complexType>

    <complexType name="ExternalService">
    	<sequence>
    		<element name="Address" type="string"></element>
    		<element name="Description" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="Identifier">
    	<sequence>
    		<element name="Type" type="string"></element>
    		<element name="Number" type="string"></element>
    		<element name="IssueDate" type="dateTime"></element>
    		<element name="IssueAuthority" type="string"></element>
    		<element name="persondata" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="Address">
    	<sequence>
    		<element name="Street" type="string"></element>
    		<element name="StreetNo" type="string"></element>
    		<element name="City" type="string"></element>
    		<element name="County" type="string"></element>
    		<element name="Country" type="string"></element>
    		<element name="ZipCode" type="string"></element>
    		<element name="Notes" type="string"></element>
    		<element name="IsPrimary" type="boolean"></element>
    		<element name="persondata" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="Communication">
    	<sequence>
    		<element name="Type" type="string"></element>
    		<element name="Value" type="string"></element>
    		<element name="Notes" type="string"></element>
    		<element name="IsPrimary" type="boolean"></element>
    		<element name="persondata" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="SocioDemographicData">
    	<sequence>
    		<element name="Age" type="int"></element>
    		<element name="Gender" type="int"></element>
    		<element name="MaritalStatus" type="int"></element>
    		<element name="Children" type="int"></element>
    		<element name="LivingWith" type="int"></element>
    	</sequence>
    </complexType>
    
    <complexType name="PersonData">
    	<sequence>
    		<element name="Surname" type="string"></element>
    		<element name="Name" type="string"></element>
    	</sequence>
    </complexType>
    

    <complexType name="Clinician">
    	<sequence>
    		<element name="persondata" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="Carer">
    	<sequence>
    		<element name="persondata" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
    		<element name="sd" type="tns:SocioDemographicData" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="Questionnaire">
    	<sequence>
    		<element name="version" type="decimal"></element>
    		<element name="title" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="QuestionnaireQuestion">
    	<sequence>
    		<element name="type" type="string"></element>
    		<element name="isPrimary" type="boolean"></element>
    		<element name="subquetsions" type="boolean"></element>
    		<element name="parentid" type="tns:QuestionnaireQuestion" maxOccurs="1" minOccurs="0"></element>
    		<element name="title" type="string"></element>
    		<element name="quest" type="tns:Questionnaire" maxOccurs="1" minOccurs="1"></element>
    		<element name="condition" type="unsignedByte"></element>
    	</sequence>
    </complexType>

    <complexType name="QuestionnaireQuestionAnswer">
    	<sequence>
    		<element name="value" type="unsignedByte"></element>
    		<element name="description" type="string"></element>
    		<element name="question" type="tns:QuestionnaireQuestion" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="QuestionnaireAnswer">
    	<sequence>
    		<element name="question" type="tns:QuestionnaireQuestion"
    			maxOccurs="1" minOccurs="1">
    		</element>
    		<element name="value" type="string"></element>
    		<element name="UserId" type="int"></element>
    		<element name="dateTime" type="dateTime"></element>
    		<element name="objectId" type="int"></element>
    	</sequence>
    </complexType>

    <complexType name="Task">
    	<sequence>
    		<element name="TaskType" type="int"></element>
    		<element name="DateTimeAssigned" type="dateTime"></element>
    		<element name="DateTimeFulfilled" type="dateTime"></element>
    		<element name="TaskStatus" type="int"></element>
    		<element name="url" type="string"></element>
    		<element name="questionnaire" type="tns:Questionnaire" maxOccurs="1" minOccurs="1"></element>
    		<element name="Executor" type="tns:Users" maxOccurs="1" minOccurs="1"></element>
    		<element name="Assigner" type="tns:Users" maxOccurs="1" minOccurs="1"></element>
    		<element name="Object" type="tns:Users" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="CarerAssessment">
    	<sequence>
    		<element name="carer" type="tns:Carer" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="DateOfAssessment" type="dateTime"></element>
    		<element name="RelevantHealthProblem" type="string"></element>
    		<element name="SeverityOfBurden" type="unsignedByte"></element>
    		<element name="EmotionalOrMentalDisorder" type="string"></element>
    		<element name="PsychoactiveDrugs" type="string"></element>
    		<element name="QualityOfLife" type="unsignedByte"></element>
    		<element name="clinician" type="tns:Clinician" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="PatientAssessment">
    	<sequence>
    		<element name="patient" type="tns:Patient"></element>
    		<element name="DateOfAssessment" type="dateTime"></element>
    		<element name="Aetology" type="int"></element>
    		<element name="TimeElapsedSinceDiagnose" type="unsignedByte"></element>
    		<element name="Severity" type="unsignedByte"></element>
    		<element name="RelevantPathologyAntecedents" type="string"></element>
    		<element name="Comorbidity" type="string"></element>
    		<element name="CharlsonComobodityIndex" type="unsignedByte"></element>
    		<element name="BarthelIndex" type="unsignedByte"></element>
    		<element name="LawtonIndex" type="unsignedByte"></element>
    		<element name="MMSE" type="unsignedByte"></element>
    		<element name="MDRS" type="unsignedByte"></element>
    		<element name="BlessedScalePart1" type="decimal"></element>
    		<element name="BlessedScalePart2" type="unsignedByte"></element>
    		<element name="BlessedScalePart3" type="unsignedByte"></element>
    		<element name="ChecklistMBPC" type="unsignedByte"></element>
    		<element name="NPQISeverity" type="unsignedByte"></element>
    		<element name="NPQIStress" type="unsignedByte"></element>
    		<element name="GDS" type="unsignedByte"></element>
    		<element name="Falls" type="boolean"></element>
    		<element name="Incontinence" type="boolean"></element>
    		<element name="Delirium" type="boolean"></element>
    		<element name="Immobility" type="boolean"></element>
    		<element name="SensorialDeficits" type="boolean"></element>
    		<element name="PharmacologyTreatment" type="string"></element>
    	</sequence>
    </complexType>

    <complexType name="Patient">
    	<sequence>
    		<element name="persondata" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
    		<element name="sd" type="tns:SocioDemographicData" maxOccurs="1" minOccurs="1"></element>
    		<element name="clinician" type="tns:Clinician" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="PatientCarer">
    	<sequence>
    		<element name="patient" type="tns:Patient" maxOccurs="1"></element>
    		<element name="carer" type="tns:Carer" minOccurs="1"></element>
    		<element name="isprimary" type="boolean"></element>
    	</sequence>
    </complexType>

    <complexType name="Measurement">
    	<sequence>
    		<element name="type" type="string"></element>
    		<element name="value" type="decimal"></element>
    		<element name="datetime" type="dateTime"></element>
    		<element name="units" type="string"></element>
    		<element name="lowerlimit" type="decimal"></element>
    		<element name="upperlimit" type="decimal"></element>
    		<element name="patientassessment" type="tns:PatientAssessment" maxOccurs="1" minOccurs="0"></element>
    		<element name="patient" type="tns:Patient" maxOccurs="1" minOccurs="0"></element>
    		<element name="task" type="tns:Task" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>


    <complexType name="Administrator">
    	<sequence>
    		<element name="personData" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>
