trunk/Server/XSD/schemata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://aladdin-project.eu/xsd" elementFormDefault="qualified" xmlns:tns="http://aladdin-project.eu/xsd">
    <complexType name="Questionnaire">
    	<sequence>
    		<element name="question" type="tns:QuestionnaireQuestion" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    	<attribute name="version" type="double"></attribute>
    	<attribute name="ID" type="string"></attribute>
    	<attribute name="title" type="string"></attribute>
    </complexType>

    <complexType name="QuestionnaireQuestion">
    	<sequence>
    		<element name="title" type="string" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="GlobalID" type="int" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="answers"
    			type="tns:QuestionnaireQuestionAnswerList" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="questions"
    			type="tns:QuestionnaireQuestionList" maxOccurs="1"
    			minOccurs="1">
    		</element>
    	</sequence>
    	<attribute name="id" type="string"></attribute>
    	<attribute name="type" type="string"></attribute>
    	<attribute name="condition" type="unsignedByte" use="optional"></attribute>
    </complexType>

    <complexType name="QuestionnaireQuestionList">
    	<sequence>
    		<element name="question" type="tns:QuestionnaireQuestion"
    			maxOccurs="unbounded" minOccurs="0"/>
    	</sequence>
    </complexType>
    
    <complexType name="QuestionnaireQuestionAnswerList">
    	<sequence>
    		<element name="answer" type="tns:QuestionnaireQuestionAnswer"
    			maxOccurs="unbounded" minOccurs="0"/>
    	</sequence>
    </complexType>
    

	<complexType name="QuestionnaireQuestionAnswer">
		<simpleContent>
			<extension base="string">
				<attribute type="unsignedByte" name="value"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="QuestionnaireAnswers">
		<sequence>
			<element name="answer" type="tns:QuestionnaireAnswer" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
		<attribute name="ID" type="string"></attribute>
		<attribute name="DateTime" type="dateTime"></attribute>
		<attribute name="ObjectID" type="string"></attribute>
		<attribute name="UserID" type="string"></attribute>
	</complexType>
	
	<complexType name="QuestionnaireAnswer">
		<simpleContent>
			<extension base="string">
				<attribute type="string" name="value"/>
				<attribute type="string" name="questionID"/>
			</extension>
		</simpleContent>
	</complexType>
	
	<simpleType name="QuestionnaireQuestionAnswerType">
		<restriction base="string">
			<enumeration value="OneAnswer"/>
			<enumeration value="ManyAnswers"/>
			<enumeration value="FreeText"/>
		</restriction>
	</simpleType>
	
	<complexType name="Warning">
		<sequence>
			<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="TypeOfWarning" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="DateTimeOfWarning" type="dateTime" maxOccurs="1" minOccurs="1"></element>
			<element name="Effect" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="Indicator" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="RiskLevel" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="JustificationText" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="EmergencyLevel" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="PatientID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Delivered" type="boolean" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="SystemParameter">
		<sequence>
			<element name="Code" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Description" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ExternalService">
		<sequence>
			<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Description" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Address" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Type" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="Event">
		<sequence>
			<element name="EventType" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="Subject" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Text" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Target" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="User">
		<sequence>
			<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Type" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="PersonID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Username" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Password" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="SearchCriteria">
		<sequence>
			<element name="FieldName" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="CompareOp" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="FieldValue1" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="FieldValue2" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="Task">
		<sequence>
			<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="TaskType" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="DateTimeAssigned" type="dateTime" maxOccurs="1" minOccurs="1"></element>
			<element name="DateTimeFulfilled" type="dateTime" maxOccurs="1" minOccurs="1"></element>
			<element name="TaskStatus" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="URL" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="Text" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="Questionnaire" type="tns:Questionnaire" maxOccurs="1" minOccurs="0"></element>
			<element name="ExecutorID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="AssignerID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="ObjectID" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="CarerAssessment">
		<sequence>
			<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="CarerID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="ClinicianID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="DateOfAssessment" type="dateTime" maxOccurs="1" minOccurs="1"></element>
			<element name="RelevantHealthProblem" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="SeverityOfBurden" type="unsignedByte" maxOccurs="1" minOccurs="1"></element>
			<element name="EmotionalOrMentalDisorders" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="PsychoactiveDrugs" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="QualityOfLife" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="PatientAssessment">
		<sequence>
			<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="PatientID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="DateOfAssessment" type="dateTime" maxOccurs="1" minOccurs="1"></element>
			<element name="Aetology" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="TimeEllapsedSinceDiagnosed"
				type="unsignedByte" maxOccurs="1" minOccurs="1">
			</element>
			<element name="Severity" type="unsignedByte" maxOccurs="1" minOccurs="1"></element>
			<element name="RelevantPathologyAntecedents"
				type="string" maxOccurs="1" minOccurs="0">
			</element>
			<element name="Comorbidity" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="CharlsonComorbidityIndex"
				type="unsignedByte" maxOccurs="1" minOccurs="0">
			</element>
			<element name="BarthelIndex" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
			<element name="LawtonIndex" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
			<element name="MMSE" type="unsignedByte" maxOccurs="1" minOccurs="1"></element>
			<element name="MDRS" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
			<element name="BlessedScalePart1" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="BlessedScalePart2" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
			<element name="BlessedScalePart3" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
			<element name="ChecklistMBP" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
			<element name="NPQI_Severity" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
			<element name="NPQI_Stress" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
			<element name="GDS" type="unsignedByte" maxOccurs="1" minOccurs="0"></element>
			<element name="Falls" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="Incontinence" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="Delirium" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="Immobility" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="SensorialDeficits" type="boolean" maxOccurs="1" minOccurs="0"></element>
			<element name="PharmacologicalTreatment" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="ClinicalData" type="tns:Measurement" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="Measurement">
		<sequence>
			<element name="Type" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="Value" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="DateTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
			<element name="Units" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="LowerLimit" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="UpperLimit" type="double" maxOccurs="1" minOccurs="0"></element>
			<element name="TaskID" type="string" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="Identifier">
		<sequence>
			<element name="Type" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Number" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="IssueDate" type="date" maxOccurs="1" minOccurs="0"></element>
			<element name="IssueAuthority" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="Address">
		<sequence>
			<element name="Street" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="StreetNo" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="City" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="County" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="Country" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="ZipCode" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="Notes" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="IsPrimary" type="boolean" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="Communication">
		<sequence>
			<element name="Type" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Value" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Notes" type="string" maxOccurs="1" minOccurs="0"></element>
			<element name="IsPrimary" type="boolean" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="SocioDemographicData">
		<sequence>
			<element name="Age" type="unsignedByte" maxOccurs="1" minOccurs="1"></element>
			<element name="Gender" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="MaritalStatus" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
			<element name="Children" type="unsignedByte" maxOccurs="1" minOccurs="1"></element>
			<element name="LivingWith" type="tns:SystemParameter" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="PersonData">
		<sequence>
			<element name="Surname" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Name" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="IdentifierList" type="tns:IdentifierList" maxOccurs="1" minOccurs="1"></element>
			<element name="AddressList" type="tns:AddressList" maxOccurs="1" minOccurs="1"></element>
			<element name="CommunicationList" type="tns:CommunicationList" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>
	
	<complexType name="CommunicationList">
		<sequence>
			<element name="Communication"
				type="tns:Communication" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="AddressList">
		<sequence>
			<element name="Address"
				type="tns:Address" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="IdentifierList">
		<sequence>
			<element name="Identifier"
				type="tns:Identifier" maxOccurs="unbounded" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="Carer">
		<sequence>
			<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="PersonData" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
			<element name="SD_Data" type="tns:SocioDemographicData" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="PatientCarer">
		<sequence>
			<element name="Carer" type="tns:Carer" maxOccurs="1" minOccurs="1"></element>
			<element name="IsPrimary" type="boolean" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="Clinician">
		<sequence>
			<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="PersonData" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>
	
    <complexType name="Patient">
    	<sequence>
    		<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="PersonData" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
    		<element name="SD_Data" type="tns:SocioDemographicData" maxOccurs="1" minOccurs="1"></element>
    		<element name="ResponsibleClinicianID" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="PatientCarerList" type="tns:PatientCarerList" maxOccurs="1" minOccurs="1"></element>
    		<element name="SocialWorker" type="tns:SocialWorker" maxOccurs="1" minOccurs="1"></element>
    		<element name="ConsulterInCharge" type="tns:Consulter" maxOccurs="1" minOccurs="1"></element>
    		<element name="GeneralPractitioner" type="tns:GeneralPractitioner" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="SocialWorker">
    	<sequence>
    		<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="phone" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="email" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="Consulter">
    	<sequence>
    		<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="phone" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="email" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="GeneralPractitioner">
    	<sequence>
    		<element name="name" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="phone" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="email" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="PatientCarerList">
    	<sequence>
    		<element name="PatientCarer" type="tns:PatientCarer" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="Administrator">
    	<sequence>
    		<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="PersonData" type="tns:PersonData" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="PatientInfo">
    	<sequence>
    		<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="Surname" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="Name" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="CarerInfo">
    	<sequence>
    		<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="Surname" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="Name" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="ClinicianInfo">
    	<sequence>
    		<element name="ID" type="string"></element>
    		<element name="Surname" type="string"></element>
    		<element name="Name" type="string"></element>
    	</sequence>
    </complexType>
    
    <complexType name="AdministratorInfo">
    	<sequence>
    		<element name="ID" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="Surname" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="Name" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="QuestionnaireInfo">
    	<attribute name="version" type="double"></attribute>
    	<attribute name="ID" type="string"></attribute>
    	<attribute name="title" type="string"></attribute>
    </complexType>

	<complexType name="OperationResult">
		<sequence>
			<element name="Code" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Status" type="unsignedByte" maxOccurs="1" minOccurs="1"></element>
			<element name="Description" type="string" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>
    
</schema>
