trunk/Server/raac/resources/raac.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="raac" targetNamespace="http://www.aladdin-project.eu/raac/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.aladdin-project.eu/raac/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.aladdin-project.eu/raac/" xmlns:pref="http://aladdin-project.eu/xsd">
    	<xsd:import namespace="http://aladdin-project.eu/xsd" schemaLocation="SC.xsd"/>
    	<xsd:element name="AnalyzeMeasurements">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element maxOccurs="1" minOccurs="1" name="in" type="pref:Measurement"/>
    				<xsd:element name="PatientID" type="xsd:string"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="AnalyzeMeasurementsResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="out" type="pref:Warning"/>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AnalyzeMeasurementsRequest">
    <wsdl:part name="parameters" element="tns:AnalyzeMeasurements">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AnalyzeMeasurementsResponse">
    <wsdl:part name="parameters" element="tns:AnalyzeMeasurementsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="raac">
    <wsdl:operation name="AnalyzeMeasurements">
      <wsdl:input message="tns:AnalyzeMeasurementsRequest">
    </wsdl:input>
      <wsdl:output message="tns:AnalyzeMeasurementsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="raacSOAP" type="tns:raac">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AnalyzeMeasurements">
      <soap:operation soapAction="http://www.aladdin-project.eu/raac/AnalyzeMeasurements"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="raac">
    <wsdl:port name="raacSOAP" binding="tns:raacSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
